* {
    font-family: 'Helvetica Neue';
}

.jumbo-bg {
    background: url('../images/biodiversity_cells.png') no-repeat center;
    background-size: cover;
}

.demo-text {
    font-size: 14px;
}

.card .card-header {
    font-size: 15px;
    font-weight: bold;
}

#selDataset {
    font-size: 14px;
}

.header-font {
    font-family: 'Helvetica Neue', serif;
}